PINECONE_API_KEY =
PINECONE_INDEX_NAME=

LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

GOOGLE_API_KEY=

LLM_MODEL=
LLM_EMbEDDING_MODEL=

CHUNK_SIZE=1000
CHUNK_OVERLAP=200